<div class="mt--large mb--large border--bottom">

  <!-- first block -->
  {% for block in entry.frontpage_firstBlock %}
    <div class="pb--xlarge grid-item--medium center-block inline-wrapper">
      <div class="u-1/2 inline__item">
        <h2 class="pb--small">{{ block.heading }}</h2>
        <p class="paragraph font-neutral">{{ block.text }}</p>
        <button type="button" name="button">Prøv gratis</button>
      </div>
      <div class="u-1/2 inline__item pl">
        <img src="{{ block.image.first().getUrl('illustration') }}" alt="" />
      </div>
    </div>
  {% endfor %}

  <!-- blocks -->
  {% for block in entry.frontpage_blocks %}
    <div class="pb--xlarge grid-item--medium center-block inline-wrapper">
      {% if loop.index0 % 2 == 0 %}
        <div class="u-1/2 inline__item pr">
          <img src="{{ block.image.first().getUrl('illustration') }}" alt="" />
        </div>
        <div class="u-1/2 inline__item">
          <h2 class="pb--small">{{ block.heading }}</h2>
          <p class="paragraph font-neutral">{{ block.text }}</p>
        </div>
      {% else %}
        <div class="u-1/2 inline__item">
          <h2 class="pb--small">{{ block.heading }}</h2>
          <p class="paragraph font-neutral">{{ block.text }}</p>
        </div>
        <div class="u-1/2 inline__item pl">
          <img src="{{ block.image.first().getUrl('illustration') }}" alt="" />
        </div>
      {% endif %}
    </div>
  {% endfor %}

</div>
