<nav id="login" class="login">
  <div class="grid-wrap">
    <div class="login__wrapper mt">
      <div class="login__inner">
      {% if craft.session.isLoggedIn %}
        <h3 class="mb--xsmall">{{ currentUser.name }}</h3>
        <p class="font-neutral paragraph mb">{{ currentUser.email }}</p>
        <a class="font-neutral border--bottom" href="{{ logoutUrl }}">Logg ut</a>
      {% else %}
        <h3 class="mb">Logg inn</h3>
        <form method="post" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/login">

            <div class="input__wrapper mb font-neutral">
              <input class="login__input" id="loginName" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}">
              <span class="login__placeholder no-flicker">Brukernavn (e-post)</span>
            </div>
            <div class="input__wrapper mb font-neutral">
              <input class="login__input" id="password" type="password" name="password">
              <span class="login__placeholder no-flicker">Passord</span>
            </div>
            <div class="font-neutral">
              <input class="login__submit" type="submit" value="Logg inn">
            </div>

            {% if errorMessage is defined %}
            <div class="mt--small">
              <p class="paragraph font-neutral">{{ errorMessage }}</p>
            </div>
            {% endif %}
        </form>
      {% endif %}
      </div>
		</div>
  </div>
</nav>
