<nav id="registration" class="login">

  <div class="grid-wrap">
    <button class="search__close" id="loginClose">
      <span class="close__text borders--bottom paragraph">Lukk</span>
      <span class="close__icon"></span>
    </button>
  </div>

  <div class="grid-wrap login__outer">
    <div class="login__wrapper">
      <div class="login__inner">
        <form method="post" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="{{ craft.config.csrfTokenName }}" value="{{ craft.request.csrfToken }}">
            <input type="hidden" name="action" value="users/saveUser">
            <input type="hidden" name="redirect" value="/">

            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <div class="input__wrapper mb">
              <input class="login__input" id="regFirstName" type="text" name="firstName"
                  {%- if account is defined %} value="{{ account.firstName }}"{% endif -%}>
              <span class="login__placeholder font-neutral paragraph no-flicker">Fornavn</span>
              {% if account is defined %}
                  {{ errorList(account.getErrors('firstName')) }}
              {% endif %}
            </div>

            <div class="input__wrapper mb">
              <input class="login__input" id="regLastName" type="text" name="lastName"
                  {%- if account is defined %} value="{{ account.lastName }}"{% endif -%}>
              <span class="login__placeholder no-flicker">Etternavn</span>
              {% if account is defined %}
                  {{ errorList(account.getErrors('lastName')) }}
              {% endif %}
            </div>

            <div class="input__wrapper mb">
              <input class="login__input" id="regUserPhone" type="tel" name="userPhone"
                  {%- if account is defined %} value="{{ account.userPhone }}"{% endif -%}>
              <span class="login__placeholder no-flicker">Tlf./Mobil</span>
              {% if account is defined %}
                  {{ errorList(account.getErrors('userPhone')) }}
              {% endif %}
            </div>

            <div class="input__wrapper mb">
              <input class="login__input" id="regUserCompanyName" type="text" name="userCompanyName"
                  {%- if account is defined %} value="{{ account.userCompanyName }}"{% endif -%}>
              <span class="login__placeholder no-flicker">Virksomhet</span>
              {% if account is defined %}
                  {{ errorList(account.getErrors('userCompanyName')) }}
              {% endif %}
            </div>

            <div class="input__wrapper mb">
              <input class="login__input" id="regUserOrganizationNumber" type="text" name="userOrganizationNumber"
                  {%- if account is defined %} value="{{ account.userOrganizationNumber }}"{% endif -%}>
              <span class="login__placeholder no-flicker">Organisasjonsnummer</span>
              {% if account is defined %}
                  {{ errorList(account.getErrors('userOrganizationNumber')) }}
              {% endif %}
            </div>

            <div class="input__wrapper mb">
              <input class="login__input" id="regEmail" type="email" name="email"
                  {%- if account is defined %} value="{{ account.username }}"{% endif -%}>
              <span class="login__placeholder no-flicker">E-post (brukernavn)</span>
              {% if account is defined %}
                  {{ errorList(account.getErrors('email')) }}
              {% endif %}
            </div>

            <div class="input__wrapper mb">
              <input class="login__input" id="reg-password" type="password" name="password">
              <span class="login__placeholder no-flicker">Passord</span>
              {% if account is defined %}
                  {{ errorList(account.getErrors('password')) }}
              {% endif %}
            </div>


            <button class="login__submit lh-button paragraph" type="submit">
              <span class="lh-button__text">Bli abonnement</span>
              <svg class="lh-button__arrow" width="12" height="8" viewBox="0 0 177 118">
                <path d="M117.3,47V0l58.9,58.6l-58.9,59.2V70.3H0.3V47H117.3z"/>
              </svg>
            </button>

        </form>
      </div>

		</div>
  </div>
</nav>
