{% extends "_layout" %}
{% set blocks = entry.blocks %}

{% block content %}
<div class="grid-wrap article-wrap">

  <!-- article header -->
  <header class="article-header mb bg-green--light">
    <div class="pt--large pb--medium mt grid-wrap--smaller">
      <h1 class="center title">{{ entry.title }}</h1>
    </div>
    <ul class="list list--no-style pb--large block center-block">
      {% if blocks | length %}
        {% for block in blocks %}
          <li class="list__item list__item--hover font-neutral {% if loop.last %}mb--xsmall{% endif %}">
            <a class="article-anchor paragraph pb--xsmall pt--xsmall-optical" href="#block{{ loop.index0 }}">{{ block.title }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </header>

  <!-- article sticky nav -->
  {% if blocks | length %}
  <nav id="articleSticky" data-sticky-class="is-sticky" class="sticky-nav sticky grid-wrap">
    <div data-show="article-menu" class="article-menu__toggle hamburger__toggle">
      <div class="article-menu__button hamburger__button no-flicker">
        <span class="hamburger__button-bar hamburger__button-bar--top no-flicker"></span>
        <span class="hamburger__button-bar hamburger__button-bar--middle no-flicker"></span>
        <span class=" hamburger__button-bar hamburger__button-bar--bottom no-flicker"></span>
      </div>
    </div>
  </nav>
  {% endif %}

  <!-- article blocks/main content -->
  <article class="article mb--xlarge mt--large">
    {% if blocks | length %}
      {% for block in blocks %}
        <section id="block{{ loop.index0 }}">

          <h1 class="center mt--large mb--large grid-wrap--smaller">
            {{ block.title }}
          </h1>

          <!-- Link to pathfinder/veiviser -->
          {% if entry.showPathfinder %}
            {% if loop.first %}
              <div class="article-header mb--large bg-green--light">
                <div class="pb pt inline-wrapper center-block grid-wrap--smaller">
                  <div class="u-1/2 inline__item pr">
                    <img src="/assets/image-pathfinder.jpg" alt="" />
                  </div>
                  <div class="u-1/2 inline__item pl">
                    <h3>Vurderer du å si opp noen?</h3>
                    <p class="paragraph font-neutral mb--small">Vi tar deg gjennom hele prosessen og gir deg malene du trenger underveis.</p>
                    <button class="lh-button mb paragraph" type="button" name="button">
                      <a href="/kan-jeg-si-opp-en-ansatt">
                        <span class="lh-button__text">Start guide</span>
                        <svg class="lh-button__arrow" width="12" height="8" viewBox="0 0 177 118">
                          <path d="M117.3,47V0l58.9,58.6l-58.9,59.2V70.3H0.3V47H117.3z"/>
                        </svg>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}

          {% include "shared/bodyContent" with {
            entry: entry,
            'block' : block
        	} %}
        </section>
      {% endfor %}
    {% endif %}
  </article>

  <!-- Templates and resources -->
  {% if entry.templatesAndResources | length %}
    <section class="article article--resources borders pb--large pt--large mb--large">
      <h2 class="pb--xsmall">Maler og ressurser</h2>
      <div class="resources-list">
        {% for entry in entry.templatesAndResources %}
          <div class="u-1/3 resources-list__item pt">
            <a class="font-neutral-b black" href="{{ entry.file.first().getUrl('') }}">
              <span>{{ entry.title }}</span>
              <svg class="arrow-download" width="10" height="10" viewBox="0 0 171 254">
              	<path d="M102.6,168.6h67.6l-84.4,84.8L0.6,168.6H69V0.2h33.6V168.6z"/>
              </svg>
            </a>
            <p class="mt--none">{{ entry.description }}</p>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  <!-- Entries in the same category -->
  {% for category in entry.category %}
    <div class="article-header mb bg-green--light">
      <div class="pt--large pb--medium mt grid-wrap--smaller">
        <h1 class="center title">{{ category.title }}</h1>
      </div>
      <ul class="list list--no-style pb--large block center-block">
      {% for entry in craft.entries.section('article').relatedTo(category) %}
        <li class="list__item pb--xsmall pt--xsmall-optical font-neutral {% if loop.last %}mb--xsmall{% endif %}">
          <a class="paragraph" href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}

</div>
{% endblock %}
