{% extends "_layout" %}
{% set blocks = entry.blocks %}

{% block content %}
<div class="grid-wrap article-wrap">

  <header class="article-header mb bg-green--light">
    <div class="pt grid-wrap">
      <h1 class="center title mt--large mb--large">{{ entry.title }}</h1>
    </div>
    <ul class="list list--no-style pb--large u-2/5 center-block">
      {% if blocks | length %}
        {% for block in blocks %}
          <li class="list__item font-neutral">
            <a class="article-anchor" href="#block{{ loop.index }}">{{ block.title }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </header>

  {% if blocks | length %}
  <nav id="articleSticky" class="sticky-nav sticky grid-wrap">
    <ul class="borders reset-list bg-white pb--xxsmall pt--xxsmall">
      {% for block in blocks %}
        <li class="font-neutral">
          <a class="article-anchor" href="#block{{ loop.index }}">
            {{ loop.index }}. {{ block.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <article class="article mb--xlarge mt--xxlarge">
    {% if blocks | length %}
      {% for block in blocks %}
        <section id="block{{ loop.index }}">
          <h1 class="center">
            <span class="block-elem">{{ loop.index }}.</span>
            {{ block.title }}
          </h1>
          {% for content in block.body %}
            {% if content.type == "text" %}
              <div class="block text">
                {{ content.text }}
              </div>
            {% elseif content.type == "example" %}

            {% elseif content.type == "quote" %}
              <div class="block">
                <blockquote>{{ content.quote }}</blockquote>
              </div>

            {% elseif content.type == "accordion" %}
              <div class="block accordion borders">
                <button class="accordion__button">
                  <span>{{ content.heading }}</span>
                  <svg class="accordion__arrow" width="12" height="7" viewBox="0 0 82 48">
                  	<path class="accordion__arrow-path" d="M81.3,6.9L40.8,47.5L0.7,7.2l7-7l33.2,33.2L74.3-0.1L81.3,6.9z"/>
                  </svg>
                </button>
                <div class="accordion__content">
                  <div class="accordion__inner">
                    {{ content.text }}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </section>
      {% endfor %}
    {% endif %}
  </article>

</div>
{% endblock %}
