{% extends "_layout" %}
{% set blocks = entry.blocks %}

{% block content %}
<div class="grid-wrap article-wrap">

  <!-- article header -->
  <header class="article-header mb bg-green--light">
    <div class="pt--large pb--medium mt grid-wrap--smaller">
      <h1 class="center title">{{ entry.title }}</h1>
    </div>
    <ul class="list list--no-style pb--large block center-block">
      {% if blocks | length %}
        {% for block in blocks %}
          <li class="list__item pb--xsmall pt--xsmall-optical font-neutral {% if loop.last %}mb--xsmall{% endif %}">
            <a class="article-anchor paragraph" href="#block{{ loop.index }}">{{ block.title }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </header>

  <!-- article sticky nav -->
  {% if blocks | length %}
  <nav id="articleSticky" data-sticky-class="is-sticky" class="sticky-nav sticky grid-wrap">
    <div data-show="article-menu" class="article-menu__toggle hamburger__toggle">
      <div class="article-menu__button hamburger__button no-flicker">
        <span class="hamburger__button-bar hamburger__button-bar--top no-flicker"></span>
        <span class="hamburger__button-bar hamburger__button-bar--middle no-flicker"></span>
        <span class=" hamburger__button-bar hamburger__button-bar--bottom no-flicker"></span>
      </div>
    </div>
    {#
    <ul class="reset-list bg-white pb--xsmall pt--xsmall-optical">
      {% for block in blocks %}
        <li class="font-neutral">
          <a class="article-anchor paragraph" href="#block{{ loop.index }}">{{ loop.index }}. {{ block.title }}</a>
        </li>
      {% endfor %}
    </ul>
    #}
  </nav>
  {% endif %}

  <!-- article blocks/main content -->
  <article class="article mb--xlarge mt--xxlarge">
    {% if blocks | length %}
      {% for block in blocks %}
        <section id="block{{ loop.index }}">

          <h1 class="center">
            <span class="block-elem">{{ loop.index }}.</span>
            {{ block.title }}
          </h1>

          {% for content in block.body %}
            {% if content.type == "text" %}
              <div class="block text">
                {{ content.text }}
              </div>

            {% elseif content.type == "example" %}
              <div class="block example">
                <b class="font-neutral-b">Eksempel</b>
                {{ content.text }}
              </div>

            {% elseif content.type == "fact" %}
              <div class="block fact">
                <b class="font-neutral-b">Fakta</b>
                {{ content.text }}
              </div>

            {% elseif content.type == "quote" %}
              <div class="block block--large quote">
                {% if content.smallHeading | length %}
                  <span class="quote__title font-neutral-b center">{{ content.smallHeading }}</span>
                {% endif %}
                <blockquote class="center">{{ content.quote }}</blockquote>
              </div>

            {% elseif content.type == "accordion" %}
              <div class="block accordion borders a-toggle">
                <button class="accordion__button a-toggle__button">
                  <span>{{ content.heading }}</span>
                  <svg class="accordion__arrow a-toggle__arrow" width="12" height="7" viewBox="0 0 82 48">
                  	<path class="accordion__arrow-path" d="M81.3,6.9L40.8,47.5L0.7,7.2l7-7l33.2,33.2L74.3-0.1L81.3,6.9z"/>
                  </svg>
                </button>
                <div class="accordion__content a-toggle__content">
                  <div class="accordion__inner a-toggle__inner">
                    {{ content.text }}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}

        </section>
      {% endfor %}
    {% endif %}
  </article>

  <!-- Templates and resources -->
  {% if entry.templatesAndResources | length %}
    <section class="article article--resources borders pb--large pt--large mb--large">
      <h2 class="pb--xsmall">Maler og ressurser</h2>
      <div class="resources-list">
        {% for entry in entry.templatesAndResources %}
          <div class="u-1/3 resources-list__item pt">
            <a class="font-neutral-b black" href="{{ entry.file.first().getUrl('') }}">
              <span>{{ entry.title }}</span>
              <svg class="arrow-download" width="10" height="10" viewBox="0 0 171 254">
              	<path d="M102.6,168.6h67.6l-84.4,84.8L0.6,168.6H69V0.2h33.6V168.6z"/>
              </svg>
            </a>
            <p class="mt--none">{{ entry.description }}</p>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  <!-- Entries in the same category -->
  {% for category in entry.category %}
    <div class="mb--xlarge bg-green--light">
      <div class="pt grid-wrap">
        <h1 class="center title mt--large mb--large">{{ category.title }}</h1>
      </div>
      <ul class="list list--no-style pb--large u-2/5 center-block">
        {% for entry in craft.entries.section('article').relatedTo(category) %}
          <li class="list__item font-neutral">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

</div>
{% endblock %}
