{% extends "_layout" %}
{% set blocks = entry.blocks %}

{% block content %}
<div class="grid-wrap contact">
  <div class="contact">

    <div class="inline-wrapper pb pt--large contact__top" data-reveal>
      <div class="inline__item u-2/3 pr">
        <h1 class="pb--small">
          <a class="hover hover--green" href="tel:{{ entry.phone|replace({' ':''}) }}">Rådgivertelefonen<br />{{ entry.phone }}</a>
        </h1>
        <p class="lead-p font-neutral">Eller send en e-post til
          <a class="hover hover--green border--bottom-thin" href="tel:{{ entry.email }}">{{ entry.email }}</a>
        </p>
      </div>
      <div class="inline__item u-1/3 pl contact__image">
        <img class="img--round" src="{{ entry.image.first.getUrl() }}" alt="{{ entry.image.first.title }}">
      </div>
    </div>

    <div class="inline-wrapper borders--top pt pb contact__bottom">
      <div class="inline__item contact__item u-1/3 pb--small" data-reveal>
        <p class="paragraph font-neutral-b">Besøksadresse</p>
        <div class="paragraph font-neutral">{{ entry.address }}</div>
      </div>
      <div class="inline__item contact__item u-1/3 pb--small" data-reveal>
        <p class="paragraph font-neutral-b">Postadresse / Faktura</p>
        <div class="paragraph font-neutral">{{ entry.poBox }}</div>
      </div>
      <div class="inline__item contact__item u-1/3 pb--small" data-reveal>
        <p class="paragraph font-neutral-b">Hjelp med tjenesten</p>
        <div class="paragraph font-neutral">{{ entry.help }}</div>
      </div>
      <div class="inline__item contact__item u-1/3 pb--small" data-reveal>
        <p class="paragraph font-neutral-b">Organisasjonsnr.</p>
        <p class="paragraph font-neutral">{{ entry.virkeOrgNr }}</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
